.topbar {
    background-color: #5A8A9D;
    overflow: hidden;
    position: fixed;
    top: 5;
    width: 96%;
    height: 10%;
    border-radius: 15px;
    padding-left: 20px;
}

.weekday {
    overflow: hidden;
    position: fixed;
    top: 12%;
    height: 85%;
    width: 15%;
    background-color: #AFC6CE;
    border-radius: 15px;
    text-align: center;
}

#monday {
    left: 1%;
}

#tuesday {
    left: 17%;
}

#wednesday {
    left: 33%;
}

#thursday {
    left: 49%;
}

#friday {
    left: 65%;
}

.weekend {
    overflow: hidden;
    position: fixed;
    height: 42%;
    width: 15%;
    background-color: #AFC6CE;
    border-radius: 15px;
    left: 81%;
    text-align: center;
    z-index: 0;
}

#saturday {
    top: 12%;
}

#sunday {
    top: 55%;
}

.eventlist {
    border-style: solid none none none;
    height: 92%;
    z-index: 1;
    width: 100%;
}