.topbar {
    background-color: #5A8A9D;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 98%;
    height: 10%;
    border-radius: 15px;
}

.weekday {
    overflow: hidden;
    position: fixed;
    top: 12%;
    height: 85%;
    width: 15%;
    background-color: #AFC6CE;
    border-radius: 15px;
}

#monday {
    left: 1%;
}

#tuesday {
    left: 17%;
}

#wednesday {
    left: 33%;
}

#thursday {
    left: 49%;
}

#friday {
    left: 65%;
}